*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(102, 101, 102);
}

i{
    color: white;
}

header{
    background-image: url("/Site-Hotel/imgs/header.jpg");
    background-position: center;
    height: 70vh;
    background-size: cover;
}

nav{
    background-color: white;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 13vw;
    top: 5vh;
}
.logo{
    font-size: 2em;
    margin-left: 1.8vw;
    padding-top: 10px;
}

.nav-itens{
    display: flex;
    text-decoration: none;
    list-style: none;
    
}
.nav-item {
    font-size: 1.1em;
    margin: 1.5vh 0vw;
    height: 5vh;
    padding:0 0.5vw ;
    color: rgb(102, 101, 102);
}
.nav-item:hover{
    background-color: rgb(61, 190, 212);
    color: white;
    cursor: pointer;
    
}

/* MAIN */
main{
    background-color: rgb(241, 241, 241);
}

.texto-mensagem{
    height: 15vh;
    background-color: rgb(219, 218, 218);
    display: flex;
}
.texto-descricao-pagina{
    text-align: left;
    width: 50vw;
    margin: auto 10vw;
}
.estrelas{
    margin: 4vh -3vw;
}

/*quarto principal*/

.quartos{
    display: inline-block;
    width: 100vw;
}
.quartos-principais{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding: 4vh 0;
    
}
.quarto-principal{
    margin: 0 1.5vw;

}

.img-quarto-principal{
    width: 500px;
    height: 300px;
    position: relative;
    top: 0.55vh;
}
.img-quarto-principal:hover{
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    top: -2.3vh;
}
.descricao-quarto{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgb(216, 215, 215);
}

.titulo-quarto{
    font-weight: bold;
    font-weight: 1.5em;
    padding-top: 0.7vh;
    padding-left: 0.5vw;
}
.desc-quarto{
    font-size: 0.8em;
    padding-left: 0.3vw;
}
.visualizar{
    background-color: rgb(61, 190, 212);
    height: 3.5vw;
    width: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualizar:hover{
    background-color: rgb(58, 156, 173);
    cursor: pointer;
}

.quartos-normais{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    background-color: rgb(231, 230, 230);
    padding:8vh;
}

.quarto-normal{
    margin: 0 1.85vw;
}

.img-quarto-normal{
    width: 320px;
    height: 190px;
    position: relative;
    top: 0;
}

.img-quarto-normal:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    top: -2.3vh;
}

/*Servicos*/

.titulo-secao{
    font-size: 2em;
    margin-left: 10vw;
    margin-top: 3vh;

}

.servicos{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    padding: 6vh 0;

}

.servico{
    background-color: rgb(228, 227, 227);
    margin: 0 1.5vw;
    width: 17vw;
    border-radius: 4px;
    padding: 0 0.4vw;
}
.servico:hover{
    background-color: rgb(206, 205, 205);
    cursor: pointer;
}

.img-servicos{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 1vh;
    filter: blur(1px);
 
}
.img-servicos:hover{
    filter: blur(0px);
}

.titulo-servicos{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2.5em;
}
.desc-servicos{
    text-align: center;
}

.btn-servicos{
    border: none;
    background-color: inherit;
    display: block;
    margin: 2vh auto;
    color: rgb(61, 190, 212);
    font-weight: bold;
    font-size: 1em;
    width: 7vw;
    height: 4vh;
}
.btn-servicos:hover{
    background-color: rgb(61, 190, 212);
    color: white;
    cursor: pointer;
}
/* Ofertas especiais*/
.ofertas-especiais{
    background-color: rgb(221, 221, 221);
    padding: 2vh 0;
}

.ofertas{
    padding: 5.5vh 0;
    display: flex;
    justify-content: center;
}
.oferta{
    margin: 0 1.5vw;
    padding: 2vh;
    width: 20vw;
}
.oferta:hover{
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}

.img-oferta{
    width: 300px;
    height: 220px;
    border:5px solid #ffffff;
}
.titulo-oferta{
    font-weight: bold;
    line-height: 2em;
    font-size: 1.2em;
}
.desc-oferta{

    text-align: left;
    font-size: 0.85em;
}
/*Comentarios sessao*/

.comentarios{
    background-color: rgb(255, 254, 254);
    padding: 2vh 0;
}

.reviews{
    padding: 5.5vh 0;
    display: flex;
    justify-content: center;
}

.review{
    margin: 0 5vw;
    padding: 2vh;
    width: 26vw;
}
.comentario{
    padding-bottom: 5vh;
}

.nome-comentario{
    font-weight: bold;
}


.reviews:before{
    content: '❝';
    font-size: 8em;
    color: #bbb;
    position: relative;
    top: -.3em;
    left: 0.55em;
    z-index: 0.5;
}
.reviews::after{
    content: '❝';
    font-size: 8em;
    color: #bbb;
    position: relative;
    top: -.3em;
    right: 39%;
    z-index: 0.5;
}

/*footer*/

footer{
    background-color: rgb(61, 190, 212);
    padding: 3vh 0;
}

.footer-itens{
    display: flex;
    justify-content: center;
}

.footer-item{
    width: 20vw;
    margin: 0 0.5vw;
}

.titulo-footer{
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 2em;
}

li{
    list-style: none;
    color: white;
    line-height: 2em;
    padding-left: 0.7vw;
}
.bolder{
    font-weight: bold;
}
.posts-antigos{
    display: block;
}
a{
    text-decoration: none;
    color: rgb(228, 224, 224);
    line-height: 1.7em;

}
a::before{
    content: '>';
    font-size: 1.6em;
    color: #bbb;
    position: relative;
    top: 0.16em;
    left: -0.2em;

    z-index: 0.5;
}
a:hover{
    color: rgb(102, 101, 102);
}

.galeria{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.img-galeria{
    width: 70px;
    height: 65px;
    margin: 0.1em;
}

@media (max-width: 1051px){
    .quartos-principais,.ofertas-especiais{
        display: block;
        justify-content: center;
    }
    .img-quarto-principal{
        width: 70vw;
        height: 50vh;
    }
    .quarto-principal{
        width: 70vw;
        margin: 5vh auto;
        
    }
    .quarto-principal:last-child{
        margin-bottom: -1.5vh;
    }
    .quartos-normais, .servicos,.ofertas, .reviews, .footer-itens{
        display: flex;
        flex-wrap: wrap;
    }
    .quarto-normal{
        padding: 2.6vh 0;
    }
    .servico{
        width: 70vw;
    }
    .review{
        width: 60vw;
    }
    .reviews:before , .reviews::after{
        content: "";
    }
    .footer-item{
        width: 40vw;
        padding-bottom: 3vh;
    }
    
}

@media(max-width: 720px){
    .nav-item{
        background-color: red;
    }
    .img-quarto-principal{
        width: 90vw;
        height: 55vh;
    }
    .quarto-principal{
        width: 90vw;
        margin: 5vh auto; 
    }
    .img-quarto-normal{
        width: 75vw;
        height: 47vh;
        
    }
    .servico{
        width: 70vw;
        height: 45vh;
        margin-bottom: 3vh;
    }
    .img-servicos{
        filter: blur(0px);
    }

    .oferta{
        width: 70vw;
        margin-bottom: 2vh;
    }
    .img-oferta{
        width: 68vw;
        height: 45vh;
    }
    .review{
        width: 60vw;
    }
}
